# Виртуальное окружение
venv/

# Python кэш
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Большие/сырые данные (раскомментируй если данные большие)
# data/raw/*